<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5151C991BAAB33C0040BE5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5151CB21BAAB33D0040BE5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5151CBD1BAAB33D0040BE5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
